<div>
    <button mat-raised-button class="home-button" routerLink="/home"><mat-icon>home</mat-icon> Home</button>
</div>
<div>
    <button mat-raised-button class="download-excel" (click)="downloadPurchasServiceExcelFile()"><mat-icon>save_alt</mat-icon> Export Data</button>
    <button mat-raised-button class="download-excel" (click)="downloadPurchasServiceExcelFileByDays()"><mat-icon>save_alt</mat-icon> Download Report By Days</button>
</div>
<div class="filter-text">
    <input  #inputRef  (input)="onSearchChange(inputRef.value)" placeholder="Enter Text to Filter">
    <input  #billNumberVal [(ngModel)]="billNumber" placeholder="Enter Bill Number">
    <button mat-raised-button class="search-button" type="submit" (click)="onSearch(billNumberVal.value)">Search</button>
</div>
<h4> Purchase Service View</h4>
<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-zig-zag"></ngx-spinner>
<form *ngFor="let purchaseService of filteredPurchaseServiceList | paginate : { itemsPerPage:numberOfElement, currentPage:page, id : '1', totalItems: totalItem } ">
    <mat-card class="purchase-service-card">
        <mat-card-content>
            <mat-grid-list [cols]="7" gutterSize="1px" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Bill Number" value="{{purchaseService.billNumber}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Bill Received Date" value="{{purchaseService.billReceivedDate | date:'dd/M/yyyy'}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Status" value="{{purchaseService.status}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Status As on Date" value="{{getStatusAsOnDate(purchaseService.billReceivedDate)}}" disabled>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <button mat-raised-button color="accent" type="submit" (click)="viewPurchaseService(purchaseService)">View</button>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="'Closed'!==purchaseService.status || ('Closed'===purchaseService.status && isAdmin)">
                    <button mat-raised-button color="accent" type="submit" (click)="editPurchaseService(purchaseService)">Edit</button>
                </mat-grid-tile>
                <mat-grid-tile *ngIf="isAdmin">
                    <button mat-raised-button color="accent" type="submit" (click)="deletePurchaseService(purchaseService.serialNumber)">Delete</button>
                </mat-grid-tile>
				<mat-grid-tile [colspan]="3" [rowspan]="1">
					<div class="bulkImport">Please choose scanned bill
						<input type="file" #fileInput placeholder="Upload file..." />
					</div>
                    <button mat-raised-button color="accent" type="submit" (click)="sendScannedBill(fileInput, purchaseService.serialNumber)">Send</button>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</form>
<div class="textcenter" *ngIf="isPagination">
    <pagination-controls *ngIf="totalItem && numberOfElement" (pageChange)="page = getPurchaseServiceData($event)" id="1" autohide="true" [maxSize]="0" [directionLinks]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    <span *ngIf="totalItem && currentPage">You are on page {{currentPage}} of {{totalPages}}</span>
</div>
<div>
    <button mat-raised-button class="home-button" routerLink="/home"><mat-icon>home</mat-icon> Home</button>
</div>
