.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

footer {
    width: 100%;
    background-color: #e07c1ae0 !important;
}

@media only screen and (min-width: 1000px) {
    footer {
        position: absolute;
    }
}

nav {
    background-color: #e07c1ae0 !important;
}

.logo {
    margin-left: 10%;
}

.head-title {
    color: White;
    font-size: 2.1rem;
    margin-left: 45%;
}

.logout-button {
    background-color: #e07c1ae0 !important;
    color: white;
    float: right;
    margin: 1%;
}

.home-button {
    margin: 2% auto;
    display: block;
    background-color: #f49436;
    color: white;
}

.add-purchase-card {
    text-align: center !important;
    background-color: #f7e6e6c7;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

.add-purchase-container {
    width: 100%;
}

.input-width {
    width: 201px !important;
}