<mat-sidenav-container class="main-container">
    <nav>
        <div class="nav-wrapper">
            <span class="head-title center">Bill Processor</span>
            <button mat-button class="logout-button" routerLink="/login"><mat-icon>face</mat-icon>Logout</button>
        </div>
    </nav>
    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-zig-zag"></ngx-spinner>
    <form (ngSubmit)="onSubmit()" [formGroup]="addpurchase">
        <mat-card class="add-purchase-card">
            <mat-card-header class="center info-color ">
                <h4> ADD PURCHASE SERVICE</h4>
            </mat-card-header>
            <mat-card-content>
                <div class="add-purchase-container">
                    <mat-grid-list [cols]="5" gutterSize="3px" rowHeight="60px">
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Charge Details" [(ngModel)]="chargeDetailVal" formControlName="chargeDetail">
                                    <mat-option *ngFor="let chargeDetail of chargeDetails" [value]="chargeDetail.value">
                                        {{ chargeDetail.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [(ngModel)]="billReceivedDt" [matDatepicker]="billReceivedDate" formControlName="billReceivedDate" placeholder="Choose Bill Received Date" (click)="billReceivedDate.open()" (focus)="billReceivedDate.open()">
                                <mat-datepicker-toggle matSuffix [for]="billReceivedDate"></mat-datepicker-toggle>
                                <mat-datepicker #billReceivedDate ></mat-datepicker>
                                <!--<mat-datepicker #billReceivedDate (selectedChanged)="getStatusDate($event)"></mat-datepicker>-->
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [(ngModel)]="dispatchDate" [matDatepicker]="dateOfDispatch" formControlName="dateOfDispatch" placeholder="Choose Date of Dispatch" (click)="dateOfDispatch.open()" (focus)="dateOfDispatch.open()">
                                <mat-datepicker-toggle matSuffix [for]="dateOfDispatch"></mat-datepicker-toggle>
                                <!--<mat-datepicker #dateOfDispatch (selectedChanged)="getNumberOfDays($event)"></mat-datepicker>-->
                                <mat-datepicker #dateOfDispatch></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="statusAsOnDate" name="statusAsOnDate" id="statusAsOnDate" placeholder="Enter Status As On Date" value="{{statusOnDate}}" [readonly]="true">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Select Process By" formControlName="processedBy">
                                    <mat-option *ngFor="let user of users" [value]="user">
                                        {{ user }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                          </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput #vendorCode formControlName="vendorCode" (blur)="getVendorData(vendorCode.value)"name="vendorCode"
                                id="vendorCode" placeholder="Enter Vendor Code" minlength="8" maxlength="8">
                            </mat-form-field>
                            <div *ngIf="addpurchase.get('vendorCode').invalid && (addpurchase.get('vendorCode').dirty || addpurchase.get('vendorCode').touched)" class="red-text">
                                <div *ngIf="addpurchase.get('vendorCode').errors">
                                   Vendor Code must be 8 digits long.
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="vendorName" name="vendorName" id="vendorName" placeholder="Enter Vendor Name" value="{{dataset[0].vendorName}}" [readonly]="true">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Location" formControlName="vendorBillingLocation">
                                    <mat-option *ngFor="let vendor of dataset" [value]="vendor.location">
                                        {{ vendor.location }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="GST Number" formControlName="vendorGSTN">
                                    <mat-option *ngFor="let vendor of dataset" [value]="vendor.gstNumber">
                                        {{ vendor.gstNumber }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Castrol GST Number" formControlName="castrolGSTN">
                                    <mat-option *ngFor="let vendor of dataset" [value]="vendor.castrolGSTN">
                                        {{ vendor.castrolGSTN }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="letterNumber" name="letterNumber" id="letterNumber" placeholder="Enter Letter Number">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="billNumber" name="billNumber" id="billNumber" placeholder="Enter Bill Number">
                            </mat-form-field>
                            <div *ngIf="addpurchase.get('billNumber').invalid && (addpurchase.get('billNumber').dirty || addpurchase.get('billNumber').touched)" class="red-text">
                                <div *ngIf="addpurchase.get('billNumber').errors">
                                   Space is not allowed.
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="processDays" name="processDays" id="processDays" placeholder="Enter Process Days" value="{{processedDays}}" [readonly]="true">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [matDatepicker]="billDate" formControlName="billDate" placeholder="Choose Bill Date" (click)="billDate.open()" (focus)="billDate.open()">
                                <mat-datepicker-toggle matSuffix [for]="billDate"></mat-datepicker-toggle>
                                <mat-datepicker #billDate ></mat-datepicker>
                                <!--<mat-datepicker #billDate  (selectedChanged)="getDueDate($event)"></mat-datepicker>-->
                            </mat-form-field>
                        </mat-grid-tile>


                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="billAmount" name="billAmount" id="billAmount" placeholder="Enter Bill Amount">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="internalReferenceNumber" name="internalReferenceNumber" id="internalReferenceNumber" placeholder="Enter Internal Reference Number">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Status" formControlName="status">
                                    <mat-option *ngFor="let status of statuses" [value]="status.value">
                                        {{ status.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="paymentTerms" name="paymentTerms" id="paymentTerms"
                                    placeholder="Payment Terms" value="{{dataset[0].paymentTerms}}" [readonly]="true">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput [(ngModel)]="dueDtForPayment" formControlName="dueDateForPayment" name="dueDateForPayment" id="dueDateForPayment" placeholder="Enter Due Date for Payment" value="{{dueDtForPayment | date:'dd/M/yyyy'}}" [readonly]="true">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <mat-select placeholder="Types of Bill" formControlName="typeOfBills">
                                  <ng-container *ngFor="let typeOfBill of typeOfBills">
                                    <mat-option *ngIf="typeOfBill.value != 'Transportation' || (typeOfBill.value == 'Transportation' && chargeDetailVal == 'HBL Number')" [value]="typeOfBill.value">
                                        {{ typeOfBill.value }}
                                    </mat-option>
                                  </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="serviceLocation" name="serviceLocation" id="serviceLocation" placeholder="Enter Service Location">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput (input)="validateInput($event, 8)" formControlName="poNumber" name="poNumber" id="poNumber" placeholder="Enter PO Number">
                            </mat-form-field>
                            <div *ngIf="addpurchase.get('poNumber').invalid && (addpurchase.get('poNumber').dirty || addpurchase.get('poNumber').touched)" class="red-text">
                                <div *ngIf="addpurchase.get('poNumber').errors">
                                    PO number should be 8 digits long.
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput (input)="validateInput($event, 8)" formControlName="ovNumber" name="ovNumber" id="ovNumber" placeholder="Enter OV Number">
                            </mat-form-field>
                            <div *ngIf="addpurchase.get('ovNumber').invalid && (addpurchase.get('ovNumber').dirty || addpurchase.get('ovNumber').touched)" class="red-text">
                                <div *ngIf="addpurchase.get('ovNumber').errors">
                                    OV number should be 8 digits long.
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field style="width:201px !important;">
                                <input matInput (input)="validateInput($event, 7)" formControlName="batchNumber" name="batchNumber" id="batchNumber" placeholder="Enter Batch Number">
                            </mat-form-field>
                            <div *ngIf="addpurchase.get('batchNumber').invalid && (addpurchase.get('batchNumber').dirty || addpurchase.get('batchNumber').touched)" class="red-text">
                                <div *ngIf="addpurchase.get('batchNumber').errors">
                                    Batch number should be 7 digits long.
                                </div>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                          <mat-form-field class="input-width">
                              <mat-select placeholder="Remarks" formControlName="remarks">
                                  <mat-option *ngFor="let remark of remarks" [value]="remark.value">
                                      {{ remark.value }}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
						</mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="jobNumber" name="jobNumber" id="jobNumber" placeholder="Enter Job Number">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="nature" name="nature" id="nature" placeholder="Enter Nature">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [matDatepicker]="recordDate" placeholder="Choose PO/OV Recd Date" formControlName="recordDate" (click)="recordDate.open()" (focus)="recordDate.open()">
                                <mat-datepicker-toggle matSuffix [for]="recordDate"></mat-datepicker-toggle>
                                <mat-datepicker #recordDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [matDatepicker]="mailSentDate" placeholder="Mail Date Sent for PO/OV" formControlName="mailSentDate" (click)="mailSentDate.open()" (focus)="mailSentDate.open()">
                                <mat-datepicker-toggle matSuffix [for]="mailSentDate"></mat-datepicker-toggle>
                                <mat-datepicker #mailSentDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput [matDatepicker]="approvalRecordDate" placeholder="Choose Approval Recd Date" formControlName="approvalRecordDate" (click)="approvalRecordDate.open()" (focus)="approvalRecordDate.open()">
                                <mat-datepicker-toggle matSuffix [for]="approvalRecordDate"></mat-datepicker-toggle>
                                <mat-datepicker #approvalRecordDate></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="workidNumber"  name="workidNumber" id="workidNumber" placeholder="Enter Workid Number">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="reason" name="reason" id="reason" placeholder="Enter Reason">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="cgst" name="cgst" id="cgst" placeholder="Enter CGST">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="input-width">
                                <input matInput formControlName="igst" name="igst" id="igst" placeholder="Enter IGST">
                            </mat-form-field>
                        </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field class="input-width">
                          <input matInput formControlName="sgst" name="sgst" id="sgst" placeholder="Enter SGST">
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field class="input-width">
                          <input matInput formControlName="mbl" name="mbl" id="mbl" placeholder="Enter MBL">
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field class="input-width">
                          <input matInput formControlName="hbl" name="hbl" id="hbl" placeholder="Enter HBL">
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field class="input-width">
                          <input matInput formControlName="blNumber" name="blNumber" id="blNumber" placeholder="Enter BL Number">
                        </mat-form-field>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-form-field>
                          <input matInput [matDatepicker]="blDate" placeholder="Choose BL Date" formControlName="blDate" (click)="blDate.open()" (focus)="blDate.open()">
                          <mat-datepicker-toggle matSuffix [for]="blDate"></mat-datepicker-toggle>
                          <mat-datepicker #blDate></mat-datepicker>
                        </mat-form-field>
                      </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit" [disabled]="addpurchase.invalid"><mat-icon>add</mat-icon>
                          Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>

    <div>
        <app-purchase-service-register-excel></app-purchase-service-register-excel>
        <button mat-raised-button class="home-button" routerLink="/home"><mat-icon>home</mat-icon> Home</button>
    </div>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l3 s12 no-padding">
                    <h5 class="white-text">Connect</h5>
                    <p>
                        <mat-icon>home</mat-icon>
                        Address: Office No.-55&56,2nd Floor,
                        <span class="padding-left-90">Asiatic Arcade, Vartak Nagar</span>
                        <span class="padding-left-90">Thane W.-400606</span>
                    </p>


                </div>
                <div class="col l3 s12 right">
                    <h5 class="white-text">Follow Us On</h5>

                    <img src="assets/images/fb.png" alt="facebook" width="30" height="30">
                    <img src="assets/images/twitter.png" alt="twitter" width="30" height="30">

                </div>
                <div class="col l4 s12 right">
                                            <mat-icon>phone</mat-icon>Phone: <span class="padding-left-10">9810645687</span>
                    <p><mat-icon>mail</mat-icon>Email:     saurabh&#64;singhguptaassociates.in
                        <span class="padding-left-70">casingh15&#64;gmail.com</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Deveolped by <a class="white-text text-lighten-3" href="http://www.techbotz.in">&copy;Techbotz Pvt. Ltd.</a>
            </div>
        </div>
    </footer>

</mat-sidenav-container>
