<mat-sidenav-container class="main-container">
  <nav>
     <div class="nav-wrapper">

        <span class="head-title center"> Bill Processor</span>
        <button mat-button class="logout-button" routerLink="/login">
           <mat-icon>face</mat-icon>
           Logout
        </button>
     </div>
  </nav>
  <form (ngSubmit)="onSubmit()" [formGroup]="editUser">
  <mat-card class="edit-user-card">
     <mat-card-header class="center info-color ">
        <h4> Edit USER</h4>
     </mat-card-header>
     <mat-card-content>
        <div class="edit-user-container">
           <mat-grid-list [cols]="5" gutterSize="3px" rowHeight="60px">
              <mat-grid-tile>
                <mat-form-field class="input-width">
                   <input matInput formControlName="userId" name="userId" id="userId" placeholder="Enter Username">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="input-width">
                  <input matInput formControlName="password" name="password" id="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              </mat-grid-tile>
           </mat-grid-list>
        </div>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">
           <mat-icon>add</mat-icon>
           Submit
        </button>
     </mat-card-actions>
  </mat-card>
  </form>
  <div>
     <button mat-raised-button class="home-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
     </button>
  </div>
  <footer class="page-footer">
   <div class="container">
       <div class="row">
           <div class="col l3 s12 no-padding">
               <h5 class="white-text">Connect</h5>
               <p>
                   <mat-icon>home</mat-icon>
                   Address: Office No.-55&56,2nd Floor,
                   <span class="padding-left-90">Asiatic Arcade, Vartak Nagar</span>
                   <span class="padding-left-90">Thane W.-400606</span>
               </p>


           </div>
           <div class="col l3 s12 right">
               <h5 class="white-text">Follow Us On</h5>

               <img src="assets/images/fb.png" alt="facebook" width="30" height="30">
               <img src="assets/images/twitter.png" alt="twitter" width="30" height="30">

           </div>
           <div class="col l4 s12 right">
                                       <mat-icon>phone</mat-icon>Phone: <span class="padding-left-10">9810645687</span>
               <p><mat-icon>mail</mat-icon>Email:     saurabh&#64;singhguptaassociates.in
                   <span class="padding-left-70">casingh15&#64;gmail.com</span>
               </p>
           </div>
       </div>
   </div>
   <div class="footer-copyright">
       <div class="container">
           Deveolped by <a class="white-text text-lighten-3" href="http://www.techbotz.in">&copy;Techbotz Pvt. Ltd.</a>
       </div>
   </div>
</footer>
</mat-sidenav-container>
