<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Bill Processor</a>
    </div>
</nav>

<div class="container">
    <!--   Icon Section   -->
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>

<footer class="page-footer custom-height">
    <div class="container">
        <div class="row">
            <div class="col l3 s12 no-padding">
                <h5 class="white-text">Connect</h5>
                <p>
                    <mat-icon>home</mat-icon>
                    Address: Office No.-55&56,2nd Floor,
                    <span class="padding-left-90">Asiatic Arcade, Vartak Nagar</span>
                    <span class="padding-left-90">Thane W.-400606</span>
                </p>


            </div>
            <div class="col l3 s12 right">
                <h5 class="white-text">Follow Us On</h5>

                <img src="assets/images/fb.png" alt="facebook" width="30" height="30">
                <img src="assets/images/twitter.png" alt="twitter" width="30" height="30">

            </div>
            <div class="col l4 s12 right">
                                        <mat-icon>phone</mat-icon>Phone: <span class="padding-left-10">9810645687</span>
                <p><mat-icon>mail</mat-icon>Email:     saurabh&#64;singhguptaassociates.in
                    <span class="padding-left-70">casingh15&#64;gmail.com</span>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Deveolped by <a class="white-text text-lighten-3" href="http://www.techbotz.in">&copy;Techbotz Pvt. Ltd.</a>
        </div>
    </div>
</footer>
